body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #1a1a1a; /* Fondo oscuro para el tema de terror */
  color: #e0e0e0; /* Texto claro */
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #e50000; /* Un rojo oscuro para el hover, simulando algo de peligro */
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

section {
  background: #282828; /* Un gris más oscuro para las secciones */
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

h2 {
  color: #00b5fd; /* Un rojo que resalte para los títulos de sección */
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.profile-pic {
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid #e50000;
}

#hero {
  text-align: center;
  padding: 60px 20px;
}

#hero h2 {
  font-size: 3rem;
  color: #fff;
}

#hero p {
  font-size: 1.2rem;
  color: #ccc;
}

.proyecto-item {
  background: #3a3a3a; /* Un gris ligeramente más claro para los ítems de proyecto */
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-left: 5px solid #e50000;
}

.proyecto-item h3 {
  color: #fff;
  margin-top: 0;
  font-size: 1.6rem;
}

.proyecto-item p {
  color: #c0c0c0;
}

.button {
  display: inline-block;
  background: #e50000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background: #cc0000;
}

#audio audio {
  display: block;
  width: 80%;
  margin: 20px auto;
  background: #444;
  border-radius: 5px;
}

#contacto ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

#contacto ul li {
  margin-bottom: 10px;
}

#contacto ul li a {
  color: #e50000;
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: #fff;
  margin-top: 30px;
}